################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/OutApp/Clock-win32-x64
/node_modules
/dist
/electron-builder.yml